= simple_form_for @recipe do |f|
	= f.input :title
	= f.input :description
	= f.input :instructions
	%h3 Ingredients
	#quantities
		= f.simple_fields_for :quantities do |q|
			= render 'quantity_fields', :f => q
		= link_to_add_association 'add ingredient', f, :quantities
	= f.submit