/ <p id="notice"><%= notice %></p>

%h2= @recipe.title
.row
  .span4
    %h3 Zutaten
    %ul
      - @recipe.quantities.each do |q|
        %li.ingredient
          = q.amount
          = q.ingredient.name
    %h4 Menüart
    %p= @recipe.description
  .span8
    %h3 Zubereitung
    %p= @recipe.instructions
    = link_to 'Edit', edit_recipe_path(@recipe)
    = link_to 'Back', recipes_path