/ <p id="notice"><%= notice %></p>

%h2= @recipe.title
.row
  .span3
    %h3 Zutaten
    %ul
      - @recipe.quantities.each do |q|
        %li.ingredient
          = q.amount
          = q.ingredient.name
    %h4 Menüart
    %p= @recipe.description
  .span6
    %h3 Zubereitung
    %p= @recipe.instructions
    = link_to 'Edit', edit_recipe_path(@recipe)
    = link_to 'Back', recipes_path

/ <p>
/   <b>Title:</b>
/   <%= @recipe.title %>
/ </p>

/ <p>
/   <b>Description:</b>
/   <%= @recipe.description %>
/ </p>

/ <p>
/   <b>Ingredients:</b>
/   <% @recipe.quantities.each do |q| %>
/   	<li><%= q.amount %> <%= q.ingredient.name %></li>
/   <% end %>
/ </p>

/ <p>
/   <b>Instructions:</b>
/   <%= @recipe.instructions %>
/ </p>


/ <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
/ <%= link_to 'Back', recipes_path %>
