!!!
%html
	%head
		%title Speiseplan
		= include_gon
		= stylesheet_link_tag "application"
		= stylesheet_link_tag "ui-lightness/jquery-ui-1.10.3.custom.css"
		= javascript_include_tag "application", "jquery-ui-1.10.3.custom.js"
		= csrf_meta_tags
	%body
		.container
			%h1 
				=link_to 'Speiseplan', root_path
			= yield

/ <!DOCTYPE html>
/ <html>
/ <head>
/   <title>Speiseplan</title>
/   <%= include_gon %>
/   <%= stylesheet_link_tag    "application", :media => "all" %>
/   <%= stylesheet_link_tag    "ui-lightness/jquery-ui-1.10.3.custom.css" %>
/   <%= javascript_include_tag "application", "jquery-ui-1.10.3.custom.js" %>
/   <%= csrf_meta_tags %>
/ </head>
/ <body>

/ <div class="container">
/ 	<h1><%= link_to 'Speiseplan', root_path %></h1>
/ 	<%= yield %>
/ </div>

/ </body>
/ </html>